<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="content">
        <div class="container">
            <div class="login_box">
                <div>
                    <div class="exp1">비밀번호 변경</div>
                    <div class="exp2">
                        변경하고자 하는 비밀번호를 입력하세요.
                    </div>
                </div>
                <form id="login_form" method="POST" action="#">
                    {% csrf_token %}
                    <div class="login_input">
                        <div class="login_username_div">
                            <div class="form_label">비밀번호</div>
                            <input type="password" id="password" name="password" />
                        </div>
                        <div class="login_username_div">
                            <div class="form_label" style="font-size:18px">비밀번호 변경</div>
                            <input type="password" id="check_password" name="check_password" />
                        </div>
                    </div>
                    <input id="login_button" type="submit" value="비밀번호 변경" />
                </form>
            </div>
        </div>
    </div>
    <script>
        const uuid = "{{uuid}}";

        {% if messages %}
            {% for message in messages %}
                alert("{{message}}")
            {% endfor %}
        {%endif %}

        window.onload = () => {
            const inputPassword = document.getElementById("password")
            const inputCheckPassword = document.getElementById("check_password")
            const changePasswordForm = document.getElementById("login_form");
            const inputcsrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]');

            changePasswordSubmit();

            function changePasswordSubmit() {
                changePasswordForm.addEventListener('submit', () => {

                    fetch('http://127.0.0.1:8000/change/' + uuid, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'Accept': 'application/json',
                            'X-CSRFToken': inputcsrfToken.value
                        },
                        body: JSON.stringify({
                            password: inputPassword.value,
                            check_password: inputCheckPassword.value
                        })
                    }).then(result => {
                        console.log(result)
                        return result.json()
                    }).then(data => {
                        console.log(data)
                        if (data.response == "success") {
                            alert(data.message);
                            location.href = "http://127.0.0.1:8000/"
                        } else {
                            console.log(data.message);
                            alert(data.message);
                        }
                    }).catch(e => {
                        console.log(e);
                    });
                    event.preventDefault();
                })
            };
        }
    </script>

</body>
</html>